table, td, th{
    border: solid 1px black;
}


.fajne{
    background-color: rgb(189, 83, 83);
}

body{
    margin-top: 2rem auto;
}

.inna{
    border-collapse: collapse;
    border: 3px solid rgb(42, 83, 42);
    width: 30rem;
    margin-top: 0.5rem auto;
    margin-left: 1.5rem auto;
    margin-right: 1.5rem auto;

}

.inna td{
    border: 1px solid rgb(42, 83, 42);
}

.inna thead{
    background-color: rgb(84, 126, 84);
    color: white;
}

.inna tbody th:hover{
    color: red;
}

.pierwsza{
    width: 50%;
}
